*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/BadgeView
/pulltorefresh
/BGABadgeView-master
/PullToRefresh_Library
/PushSDK
/nice-spinner-master/
